<ion-content>
  <style>
    li {margin-top: 5%;}
  </style>
  <div class="spacer" style="height: 260px;"></div>
    <h3 align="center">{{topictitle}}</h3>
    <div style="margin-left:10%; margin-right:50%; margin-bottom:10%">
      <h4>To create a job, you must first find an Ahitis worker to do it.</h4><br>
      <ul>
        <li>1) Tap the <img src="img/Search32.png" /> search icon on the top menu</li>
        <li>2) Tap on the job category you would like done.</li>
        <li>3) Select the desired duration of your job.</li>
        <li>4) Set the location of your job as either your current position or a custom location.</li>
        <li><b>"Current location" will scan your area for the nearest Ahitis worker.</b></li>
        <li><b>To set another location to have your job done, tap "Preffered location" to display the interactive map. Tap your desired location to set it, a <img src="img/Location32.png"> location icon should be displayed.</b></li>
        <li><img src="img/HelpMap.png" /></li>
        <li>Should a worker <b>accept</b> your job, a <b>"Job Accepted"</b> message will appear within 30 seconds of sending a request.</li>
        <li>If there are no workers to accept your job within 30 seconds, <b>the request is cancelled.</b></li>
      </ul>
    </div>
</ion-content>
