<ion-content>
  <div class="spacer" style="height: 260px;"></div>
  <form class="list" name="errorForm" ng-submit="validateerror(error)">
    <h3 align="center">{{topictitle}}</h3>
    <h4 align="left">{{topicreason}}</h4>
    <p>
      In the box below please desscibe as fully as possible the Error that you have encounted.
    </p>
    <ion-list>
      <div class="list list-inset textField">
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : errorForm.description.$invalid, 'no-errors' : errorForm.description.$valid}">
          <span class="input-label">Error description</span>
          <textarea rows="2" ng-model="error.description" name="description" placeholder="Error description" required></textarea>
        </label>
      </div>
      <div class="error-container" ng-show="errorForm.description.$error.required && errorForm.description.$dirty && errorForm.description.$touched">
        <div class="error">
          <i class="ion-information-circled"></i>
            Error description is required!
        </div>
      </div>
      <div style="text-align: center">
        <button class="button blueButton" ng-disabled="errorForm.$invalid">Submit</button>
      </div>
    </ion-list>
  </form>
</ion-content>
