<ion-content>
  <div class="spacer" style="height: 260px;"></div>
  <h3 align="center">{{topictitle}}</h3>

  <p>
    <h4>
      There are various types of work that the Ahitis worker can do for you.
      Mainly domestic or gardening.
    </h4>
  </p>

  <p>
    <h4>
      These would include Ironing, Cleaning, Lawn Mowing and Walking the Dog.
    </h4>
  </p>

  <h5 align="left">{{debuginfo}}</h5>

  <div class="row">
    <div class="col col-33"></div>
    <div class="col col-33">
      <button class="button button-full button-calm" style="border-radius: 10px; color:white; background-color:#3393c3;" ng-click="validatejobTypes()">Job Types</button>
    </div>
    <div class="col col-33"></div>
  </div>
</ion-content>
