<ion-view view-title="Ahitis Job Type Help">
  <form class="help" name="'wkrhelp'">
    <ion-list>
      <div class="bar bar-subheader padding has-header item-boarderless" style="height:250px; padding:0px; border:0px; background-color:#3393c3; padding-top:90px">
        <h3 align="center" style="color:white">Job Types</h3>
        <a>
          <h4 style="margin-left:10px; margin-right:10px; color:white;">Select a Job Type</h4>
          <h2 style="margin-left:10px; margin-right:10px; margin-top:10px">
            <select id="seljdex"
              class="item item-input item-select"
              style="font-size:14px; padding-left:0px; padding-top:2px; color:white; border-width:2px; border-style:solid; border-radius:7px; border-color:white; background-color:#3393c3; height:32px; width:100%;">
              <option style="background-color:#3393c3"></option>
            </select>
          </h2>
          <div>
            <button class="button button-small"
                    style="margin-top:10px; height:35px; border-color:white; border-width:2px; padding-top:0px; border-style:solid; margin-left:10px; border-radius:7px; color:white; background-color:#3393c3;"
                    ng-click="jtMoreInfo()">More Information
            </button>
          </div>
        </a>
      </div>
      <div class="spacer" style="height: 400px;"></div>
      <h4 align="center">{{selectedjob}}</h4>
      <h5 align="left">{{moreInformation}}</h5>
    </ion-list>
    <ion-nav-view name="content"></ion-nav-view>
  </form>
</ion-view>
<div ng-init="load()"></div>
