<form>
  <ion-list>
    <div class="spacer" style="height: 260px;"></div>
    <h3 align="center">{{topictitle}}</h3>

    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80">
        <h4 align="left">{{topicreason}}</h4>
      </div>
      <div class="col col-10"></div>
    </div>

    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80 row-no-padding" style="border:3px solid; border-radius:7px; border-color:#3393c3;">
        <label class="item item-input item-select" style="padding-left:0px; padding-top:4px; color:black; border:none; height:30px; width:100%;">
          <div class="input-label" id="seld" style="font-size:14px; background-color:white color:black;">{{reasonlabel}}</div>
          <select id="seldd" style="font-size:14px; background-color:white color:black;">
            <option reasonvalue='Blank'></option>
            <option reasonvalue='1'>Worker was incompetent</option>
            <option reasonvalue='2'>Worker wasted time</option>
            <option reasonvalue='3'>Worker did not arrive / late</option>
            <option reasonvalue='4'>Worker lost the dog</option>
            <option reasonvalue='5'>Dog walk too short</option>
            <option reasonvalue='6'>Cat Got Out</option>
            <option reasonvalue='7'>Cat Lost</option>
            <option reasonvalue='8'>Worker was a terrible gardener</option>
            <option reasonvalue='9'>Worker killed the grass</option>
            <option reasonvalue='10'>Worker was dirty</option>
            <option reasonvalue='11'>Poor ironing quality</option>
            <option reasonvalue='12'>Garden not weeded properly</option>
            <option reasonvalue='14'>Payment problem</option>
            <option reasonvalue='15'>User was not at home</option>
            <option reasonvalue='16'>User was not at agreed location</option>
            <option reasonvalue='17'>Users job did not fit the description</option>
          </select>
        </label>
        </div>
        </div>
        <div class="col col-10"></div>
      </div>

    <h5 align="left">{{debuginfo}}</h5>
    <h5 align="center">&nbsp;&nbsp;{{topicfootnote}}</h5>
    <div class="row">
      <div class="col col-33"></div>
      <div class="col col-33">
        <button class="button button-full" style="border-radius:10px; color:white; background-color:#3393c3;" ng-click="validatedisputes()">Submit</button>
      </div>
      <div class="col col-33"></div>
    </div>
  </ion-list>
</form>
