  <div class="bar bar-header bar-submenu">
    <h1 class="title subtitle">
      What kind of Ahitis worker do you want?
    </h1>
  </div>
  <ion-content>
    <div class="spacer" style="height:118px;"></div>
    <ion-item ng-repeat="skill in skills" class="item item-thumbnail-left" ng-click="selectedSkill(skill.skillid)">
      <img ng-src="img/{{skill.icon}}64.png" />
      <p>{{skill.name}} ({{skill.price}})</p>
    </ion-item>
  </ion-content>
