<ion-view>
  <div class="bar bar-header bar-submenu">
    <h1 class="title subtitle">
      Please select your preferred location
    </h1>
  </div>
  <div class="spacer" style="height:118px;"></div>
  <div id="map" style="width:100%;height:80%;"></div>
  <div style="text-align:center">
    <button class="button blueButton" ng-click="confirmMap()">Confirm</button>
  </div>
</ion-view>
<div ng-init="initMap()"></div>
