<div class="bar bar-header bar-submenu">
  <h1 class="title subtitle">
    Where Ahitis works should go?
  </h1>
</div>
<ion-content>
  <div class="spacer" style="height:118px;"></div>
  <ion-item ng-repeat="locationType in locationTypeList" ng-value="locationType.value" ng-click="selectedLocationType(locationType)">{{locationType.text}}</ion-item>
</ion-content>
