<div class="bar bar-header bar-submenu">
  <h1 class="title subtitle">
    What is your recommended duration?
  </h1>
</div>
<ion-content>
  <div class="spacer" style="height:118px;"></div>
  <ion-item ng-repeat="duration in durationList" ng-value="duration.value" ng-click="selectedDuration(duration)">{{duration.text}}</ion-item>
</ion-content>
