<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' gap: wss: ws:; style-src * 'self' 'unsafe-inline'; script-src * 'self' 'unsafe-inline' 'unsafe-eval'; media-src *">
    <title></title>


    <!-- compiled css output -->
    <link href="./css/ionic.app.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />

    <!-- ionic/angularjs js -->
    <script src="./lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="./lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="./lib/jquery/dist/jquery.js"></script>
    <script src="./lib/angular-md5/angular-md5.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/config.js"></script>
    <script src="./js/index.js"></script>

    <!--login modules-->
    <script src="./js/login.js"></script>
    <script src="./js/loginForm.js"></script>
    <script src="./js/forgotPassword.js"></script>
    <script src="./js/resetPassword.js"></script>
    <script src="./js/activation.js"></script>

    <!--register modules-->
    <script src="./js/reg.js"></script>
    <script src="./js/regForm.js"></script>
    <script src="./js/depositCard.js"></script>

    <!--Worker profile modules-->
    <script src="./js/w_main.js"></script>
    <script src="./js/w_menu.js"></script>
    <script src="./js/w_profile.js"></script>
    <script src="./js/w_profile_edit.js"></script>
    <script src="./js/w_jobList.js"></script>
    <script src="./js/w_jobDetail.js"></script>
    <script src="./js/w_depositCard_edit.js"></script>

    <!--User profile modules-->
    <script src="./js/u_main.js"></script>
    <script src="./js/u_menu.js"></script>
    <script src="./js/u_profile.js"></script>
    <script src="./js/u_profile_edit.js"></script>
    <script src="./js/u_jobList.js"></script>
    <script src="./js/u_jobDetail.js"></script>

    <!--Search Worker modules-->
    <script src="./js/search_worker.js"></script>

    <!--Help modules-->
    <script src="./js/u_help.js"></script>
    <script src="./js/w_help.js"></script>

    <!--Google Map-->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB9rCeMiKGn5MeJpTksRa0fnZvvhv7UcXQ"></script>

    <!-- On-going Payment Development -->
    <script src="./js/payment.js"></script>
    <script src="./js/payment_menu.js"></script>
    <script src="./js/transition_paypal.js"></script>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="./lib/angular-sha1/sha1.js"></script>
  </head>

  <body ng-app="app">
    <ion-nav-view></ion-nav-view>
  </body>

<script type="text/ng-template" id="app.html">
  <ion-pane title="Ahitis">
      <ion-content overflow-scroll="true" padding="true" class="has-header">
          {{TEST}}
      </ion-content>
  </ion-pane>
</script>

<!--
<script id="w_rightButton.html" type="text/ng-template">
  <div class="title">Ahitis Worker</div>
  <button class="button button-{{worker.toggleButtonColor}}" ng-click="toggleOnlineStatus()">{{worker.toggleOnlineText}}</button>
</script>

<script id="w_profile_rightButton.html" type="text/ng-template">
  <div class="title">Ahitis Worker Profile</div>
  <button class="button icon button-clear ion-android-more-vertical" ng-click="openPopover($event)"></button>
</script>

<script id="w_edit_rightButton.html" type="text/ng-template">
  <div class="title">Ahitis Edit Worker Profile</div>
  <button class="button icon button-clear ion-checkmark-round" ng-disabled="wkrprflForm.$invalid"></button>
</script>

<script id="u_rightButton.html" type="text/ng-template">
  <div class="title">Ahitis User</div>
</script>

<script id="u_profile_rightButton.html" type="text/ng-template">
  <div class="title">Ahitis User Profile</div>
  <button class="button icon button-clear ion-android-more-vertical" ng-click="openPopover($event)"></button>
</script>

<script id="u_edit_rightButton.html" type="text/ng-template">
  <div class="title">Ahitis User Profile</div>
</script>

<script id="w_jobList_rightButton.html" type="text/ng-template">
  <div class="title">Ahitis Worker Jobs</div>
</script>

<script id="w_jobDetail_rightButton.html" type="text/ng-template">
  <div class="title">Ahitis Worker Job Detail</div>
</script>

<script id="u_jobList_rightButton.html" type="text/ng-template">
  <div class="title">Ahitis Jobs</div>
</script>

<script id="u_jobDetail_rightButton.html" type="text/ng-template">
  <div class="title">Ahitis Job Detail</div>
</script>

<script id="u_help_rightButton.html" type="text/ng-template">
  <div class="title">Ahitis User Help</div>
  <button class="button icon button-clear ion-android-more-vertical" ng-click="openPopover($event)"></button>
</script></html>

<script id="w_help_rightButton.html" type="text/ng-template">
  <div class="title">Ahitis Worker Help</div>
  <button class="button icon button-clear ion-android-more-vertical" ng-click="openPopover($event)"></button>
</script>
<script id="u_payment_rightButton.html" type="text/ng-template">
  <div class="title">Payment</div>
  <button class="button icon button-clear ion-android-more-vertical" ng-click="openPopover($event)"></button>
</script>
-->
</html>
