<ion-view>
<form class="list" name="activationForm" ng-submit="activate(account)">
  <div class="logoContainer">
    <img src="img/AppLogo.png" class="logo"/>
  </div>
    <ion-list>
      <div class="normalText">
        Please enter your activation key
      </div>
        <div class="list list-inset textField">
          <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : activationForm.activationKey.$invalid, 'no-errors' : activationForm.activationKey.$valid}">
            <span class="input-label">Activation key</span>
            <input type="text" ng-model="account.activationKey" name="activationKey" placeholder="Activation key" required>
          </label>
        </div>
        <div class="error-container" ng-show="activationForm.activationKey.$error.required && activationForm.activationKey.$dirty && activationForm.activationKey.$touched">
          <div class="error">
            <i class="ion-information-circled"></i>
              Activation key is required!
          </div>
        </div>

        <div style="text-align: center">
          <button class="button blueButton" ng-disabled="activationForm.$invalid">Activate</button>
        </div>
        <div class="spacer" style="height: 20px;"></div>
        <a ui-sref="login.loginForm" class="button button-calm button-clear button-block "><u>Return to Login Screen</u></a>
    </ion-list>
</form>
</ion-view>
