<ion-view>
<form class="list" name="forgotPasswordForm" ng-submit="forgotPassword(account)">
  <div class="logoContainer">
    <img src="img/AppLogo.png" class="logo"/>
  </div>
    <ion-list>
      <div class="normalText">
        Please submit your username to reset your password
      </div>
        <div class="list list-inset textField">
          <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : forgotPasswordForm.username.$invalid, 'no-errors' : forgotPasswordForm.username.$valid}">
            <span class="input-label">User name</span>
            <input type="text" ng-model="account.username" name="username" placeholder="User name" required>
          </label>
        </div>
        <div class="error-container" ng-show="forgotPasswordForm.username.$error.required && forgotPasswordForm.username.$dirty && forgotPasswordForm.username.$touched">
          <div class="error">
            <i class="ion-information-circled"></i>
              User name is required!
          </div>
        </div>
        <div style="text-align: center">
          <button class="button blueButton" ng-disabled="forgotPasswordForm.$invalid">Submit</button>
        </div>
        <div class="spacer" style="height: 20px;"></div>
        <a ui-sref="login.loginForm" class="button button-calm button-clear button-block "><u>Return to Login Screen</u></a>
    </ion-list>
</form>
</ion-view>
