<ion-view>
<form class="list" name="loginForm" ng-submit="login(account)">
  <div class="logoContainer">
    <img src="img/AppLogo.png" class="logo"/>
  </div>
    <ion-list>
        <div class="list list-inset textField">
          <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : loginForm.username.$invalid, 'no-errors' : loginForm.username.$valid}">
            <span class="input-label">User name</span>
            <input type="text" ng-model="account.username" name="username" placeholder="User name" required>
          </label>
        </div>
        <div class="error-container" ng-show="loginForm.username.$error.required && loginForm.username.$dirty && loginForm.username.$touched">
          <div class="error">
            <i class="ion-information-circled"></i>
              User name is required!
          </div>
        </div>
        <div class="list list-inset textField">
          <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : loginForm.password.$invalid, 'no-errors' : loginForm.password.$valid}">
            <span class="input-label">Password</span>
            <input type="password" ng-model="account.password" name="password" placeholder="Password" required>
          </label>
        </div>
        <div class="error-container" ng-show="loginForm.password.$error.required && loginForm.password.$dirty && loginForm.password.$touched">
          <div class="error">
            <i class="ion-information-circled"></i>
              Password is required!
          </div>
        </div>
        <div class="button-bar">
          <div>
            <button class="button blueButton" ng-disabled="loginForm.$invalid">Log in</button>
          </div>
            <a ui-sref="login.forgotPassword" class="button button-clear button-small button-positive" ><u>Forgot your password?</u></a>
        </div>
        <div class="spacer" style="height: 20px;"></div>
        <a ui-sref="reg.regForm" class="button button-positive button-clear button-block "><u>NEW TO AHITIS? SIGN UP!</u></a>
    </ion-list>
</form>
</ion-view>
