<ion-view view-title="PaymentStatus" hide-back-button="true">
<div class="spacer" style="height: 40px;"></div>
<div class="spacer" style="height: 40px;"></div>

<ion-content padding="true">

  <div class="spacer" style="height: 40px;"></div>
  <form>
  <ion-list>
    <label class="item item-input">
      <span class="input-label">Payment Details</span>
    </label>
    <label class="item item-input">
      <span class="input-label">Payment Reference: </span>
      {{payment.reference}}
    </label>
    <label class="item item-input">
      <span class="input-label">Job Order ID: </span>
      {{payment.jobID}}
    </label>    
    <label class="item item-input">
      <span class="input-label">Amount: </span>
      {{payment.amount}}
    </label>          
    <label class="item item-input">
      <span class="input-label">Payment Status: </span>
      {{payment.status}}
    </label>
  </ion-list>
  </form>
  
  <button class="button button-positive button-block" ng-click="proceedJobList()">Proceed to Job List</button>
	 
</ion-content>

<div ng-init="load()"></div>

</ion-view>

