<ion-view>
<form class="list" name="resetPasswordForm" ng-submit="resetPassword(account)">
  <div class="logoContainer">
    <img src="img/AppLogo.png" class="logo"/>
  </div>
    <ion-list>
      <div class="normalText">
        Please submit your new password
      </div>
      <div class="list list-inset textField">
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : resetPasswordForm.verificationCode.$invalid, 'no-errors' : resetPasswordForm.verificationCode.$valid}">
          <span class="input-label">Verification Code</span>
          <input type="text" ng-model="account.verificationCode" name="username" placeholder="Verification Code" required>
        </label>
      </div>
      <div class="error-container" ng-show="resetPasswordForm.verificationCode.$error.required && resetPasswordForm.verificationCode.$dirty && resetPasswordForm.verificationCode.$touched">
        <div class="error">
          <i class="ion-information-circled"></i>
            Verification Code is required!
        </div>
      </div>
      <div class="list list-inset textField">
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : resetPasswordForm.password.$invalid, 'no-errors' : resetPasswordForm.password.$valid}">
          <span class="input-label">New Password</span>
          <input type="password" ng-model="account.password" name="password" placeholder="New Password" required>
        </label>
      </div>
      <div class="error-container" ng-show="resetPasswordForm.password.$error.required && resetPasswordForm.password.$dirty && resetPasswordForm.password.$touched">
        <div class="error">
          <i class="ion-information-circled"></i>
            New Password is required!
        </div>
      </div>
      <div class="list list-inset textField">
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : resetPasswordForm.confirmPassword.$invalid, 'no-errors' : resetPasswordForm.confirmPassword.$valid}">
          <span class="input-label">Confirm New Password</span>
          <input type="password" ng-model="account.confirmPassword" name="confirmPassword" placeholder="Confirm New Password" required compare-To="account.password" >
        </label>
      </div>
      <div class="error-container" ng-show="resetPasswordForm.confirmPassword.$error.required && resetPasswordForm.confirmPassword.$dirty && resetPasswordForm.confirmPassword.$touched">
        <div class="error">
          <i class="ion-information-circled"></i>
            Confirm New Password is required!
        </div>
      </div>
      <div class="error-container" ng-show="resetPasswordForm.confirmpassword.$error.compareTo && resetPasswordForm.confirmpassword.$dirty && resetPasswordForm.confirmpassword.$touched">
        <div class="error">
          <i class="ion-information-circled"></i>
          Confirm password and password is not the same!
        </div>
      </div>
      <div style="text-align: center">
        <button class="button blueButton" ng-disabled="resetPasswordForm.$invalid">Submit</button>
      </div>
      <div class="spacer" style="height: 10px;"></div>
      <a ui-sref="login.loginForm" class="button button-calm button-clear button-block "><u>Return to Login Screen</u></a>
    </ion-list>
</form>
</ion-view>
