<div class="bar bar-header bar-submenu">
  <h3 class="title subtitle">
    My Profile
  </h3>
</div>

<ion-view view-title="Ahitis User Profile">
  <ion-content>
    <form class="list" name="'usrprofileForm">

      <div class="spacer" style="height:115px;"></div>
      <ion-item class="item-thumbnail-right" style="background-color: #3393c3; color: #fff; font-size: 14px; font-family: 'Open Sans'; font-weight: 300;">
        <img class="img-circle" ng-src="{{account.profilePict}}"><br>
        <span>{{account.firstname}} {{account.lastname}}</span>  <br><br>
        <span>Started Using Ahitis</span> <br>
        <span>{{account.createdDate | date:'dd MMMM yyyy'}}</span> <br><br>
        <span>Contact Number</span> <br>
        <span>{{account.contactNo}}</span> <br><br>
      </ion-item>

      <ion-item><br>
        <h2 align="left"  style="background-color: #ffffff; color: #000; font-size: 16px; font-family: 'Open Sans'; font-weight: 300;">Profile Information</h2> <br>
        <table style="width:100%">
          <tr align="left"> <td>Location Code: </td> <td>{{account.countryCode}}</td> </tr>
          <tr align="Left"> <td>User name: </td> <td>{{account.username}}</td> </tr>
          <tr align="Left"> <td>User Type: </td> <td>{{account.userType}}</td> </tr>
        </table> <br><br>
      </ion-item>

    </form>

    <div class="row">
      <div class="col text-center">
        <button class="button button-positive" ng-click="editProfile()">Edit Profile</button>
        <button class="button button-positive" ng-click="logout()">Logout</button>
      </div>
    </div>

    <div ng-init="load()"></div>
  </ion-content>
</ion-view>
