<div class="bar bar-header bar-submenu">
  <h1 class="title subtitle">
    Edit Profile
  </h1>
</div>
<ion-view view-title="Ahitis Edit User Profile">
  <ion-content>
    <form class="list" name="usrprflForm" novalidate="">
    <div class="spacer" style="height:115px;"></div>
        <ion-item class="item-thumbnail-left" style="background-color: #3393c3; color: #fff; font-size: 14px; font-family: 'Open Sans'; font-weight: 300;">
           <img class="img-circle" ng-src="{{account.profilePict}}" /> <br>
           <button class="button icon button-black ion-camera" ng-click="cameraCapture()"> Camera Capture</button>
           <!-- <button class="button icon button-black ion-upload" ng-click="saveImage()" ng-disabled="usrprflForm.$invalid"> Save Image</button> <br><br> -->
        </ion-item>

        <h3 align="left" style="color:black; padding:15px">Profile Information</h3>

        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : usrprflForm.firstname.$invalid, 'no-errors' : usrprflForm.firstname.$valid}">
            <span class="input-label">First name</span>
            <input type="text" ng-model="account.firstname" name="firstname" placeholder="First name" required>
        </label>
        <div class="error-container" ng-show="usrprflForm.firstname.$error.required && usrprflForm.firstname.$dirty && usrprflForm.firstname.$touched">
          <div class="error">
            <i class="ion-information-circled"></i>
              First name is required!
          </div>
        </div>
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : usrprflForm.lastname.$invalid, 'no-errors' : usrprflForm.lastname.$valid}">
            <span class="input-label">Last name</span>
            <input type="text" ng-model="account.lastname" name="lastname" placeholder="Last name" required>
        </label>
        <div class="error-container" ng-show="usrprflForm.lastname.$error.required && usrprflForm.lastname.$dirty && usrprflForm.lastname.$touched">
          <div class="error">
            <i class="ion-information-circled"></i>
              Last name is required!
          </div>
        </div>
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : usrprflForm.email.$invalid, 'no-errors' : usrprflForm.email.$valid}">
            <span class="input-label">Email address</span>
            <input type="text" ng-model="account.email" name="email" placeholder="Email address" required>
        </label>
        <div class="error-container" ng-show="usrprflForm.email.$error.required && usrprflForm.email.$dirty && usrprflForm.email.$touched">
          <div class="error">
            <i class="ion-information-circled"></i>
              Email address is required!
          </div>
        </div>
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : usrprflForm.contactNo.$invalid, 'no-errors' : usrprflForm.contactNo.$valid}">
            <span class="input-label">Contact number</span>
            <input type="text" ng-model="account.contactNo" name="contactNo" placeholder="Contact number" required>
        </label>
        <div class="error-container" ng-show="usrprflForm.contactNo.$error.required && usrprflForm.contactNo.$dirty && usrprflForm.contactNo.$touched">
          <div class="error">
            <i class="ion-information-circled"></i>
              Contact number is required!
          </div>
        </div>

        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : usrprflForm.username.$invalid, 'no-errors' : usrprflForm.username.$valid}">
            <span class="input-label">User name</span>
            <input type="text" ng-model="account.username" name="username" placeholder="Username" disabled="disabled">
        </label>

        <label class="item item-input item-select" ng-class="{ 'has-errors' : usrprflForm.countryCode.$invalid, 'no-errors' : usrprflForm.countryCode.$valid}">
          <div class="input-label">Country</div>
          <select ng-model="account.countryCode" name="countryCode" required>
            <option value='AF'>Afghanistan</option>
            <option value='AL'>Albania</option>
            <option value='DZ'>Algeria</option>
            <option value='AS'>American Samoa</option>
            <option value='AD'>Andorra</option>
            <option value='AO'>Angola</option>
            <option value='AI'>Anguilla</option>
            <option value='AQ'>Antarctica</option>
            <option value='AG'>Antigua and Barbuda</option>
            <option value='AR'>Argentina</option>
            <option value='AM'>Armenia</option>
            <option value='AW'>Aruba</option>
            <option value='AU'>Australia</option>
            <option value='AT'>Austria</option>
            <option value='AZ'>Azerbaijan</option>
            <option value='BS'>Bahamas</option>
            <option value='BH'>Bahrain</option>
            <option value='BD'>Bangladesh</option>
            <option value='BB'>Barbados</option>
            <option value='BY'>Belarus</option>
            <option value='BE'>Belgium</option>
            <option value='BZ'>Belize</option>
            <option value='BJ'>Benin</option>
            <option value='BM'>Bermuda</option>
            <option value='BT'>Bhutan</option>
            <option value='BO'>Bolivia</option>
            <option value='BA'>Bosnia and Herzegovina</option>
            <option value='BW'>Botswana</option>
            <option value='BR'>Brazil</option>
            <option value='IO'>British Indian Ocean Territory</option>
            <option value='VG'>British Virgin Islands</option>
            <option value='BN'>Brunei</option>
            <option value='BG'>Bulgaria</option>
            <option value='BF'>Burkina Faso</option>
            <option value='BI'>Burundi</option>
            <option value='KH'>Cambodia</option>
            <option value='CM'>Cameroon</option>
            <option value='CA'>Canada</option>
            <option value='CV'>Cape Verde</option>
            <option value='KY'>Cayman Islands</option>
            <option value='CF'>Central African Republic</option>
            <option value='TD'>Chad</option>
            <option value='CL'>Chile</option>
            <option value='CN'>China</option>
            <option value='CX'>Christmas Island</option>
            <option value='CC'>Cocos Islands</option>
            <option value='CO'>Colombia</option>
            <option value='KM'>Comoros</option>
            <option value='CK'>Cook Islands</option>
            <option value='CR'>Costa Rica</option>
            <option value='HR'>Croatia</option>
            <option value='CU'>Cuba</option>
            <option value='CY'>Cyprus</option>
            <option value='CZ'>Czech Republic</option>
            <option value='CD'>Democratic Republic of the Congo</option>
            <option value='DK'>Denmark</option>
            <option value='DJ'>Djibouti</option>
            <option value='DM'>Dominica</option>
            <option value='DO'>Dominican Republic</option>
            <option value='TL'>East Timor</option>
            <option value='EC'>Ecuador</option>
            <option value='EG'>Egypt</option>
            <option value='SV'>El Salvador</option>
            <option value='GQ'>Equatorial Guinea</option>
            <option value='ER'>Eritrea</option>
            <option value='EE'>Estonia</option>
            <option value='ET'>Ethiopia</option>
            <option value='FK'>Falkland Islands</option>
            <option value='FO'>Faroe Islands</option>
            <option value='FJ'>Fiji</option>
            <option value='FI'>Finland</option>
            <option value='FR'>France</option>
            <option value='PF'>French Polynesia</option>
            <option value='GA'>Gabon</option>
            <option value='GM'>Gambia</option>
            <option value='GE'>Georgia</option>
            <option value='DE'>Germany</option>
            <option value='GH'>Ghana</option>
            <option value='GI'>Gibraltar</option>
            <option value='GR'>Greece</option>
            <option value='GL'>Greenland</option>
            <option value='GD'>Grenada</option>
            <option value='GU'>Guam</option>
            <option value='GT'>Guatemala</option>
            <option value='GN'>Guinea</option>
            <option value='GW'>Guinea-Bissau</option>
            <option value='GY'>Guyana</option>
            <option value='HT'>Haiti</option>
            <option value='HN'>Honduras</option>
            <option value='HK'>Hong Kong</option>
            <option value='HU'>Hungary</option>
            <option value='IS'>Iceland</option>
            <option value='IN'>India</option>
            <option value='ID'>Indonesia</option>
            <option value='IR'>Iran</option>
            <option value='IQ'>Iraq</option>
            <option value='IE'>Ireland</option>
            <option value='IM'>Isle of Man</option>
            <option value='IL'>Israel</option>
            <option value='IT'>Italy</option>
            <option value='CI'>Ivory Coast</option>
            <option value='JM'>Jamaica</option>
            <option value='JP'>Japan</option>
            <option value='JE'>Jersey</option>
            <option value='JO'>Jordan</option>
            <option value='KZ'>Kazakhstan</option>
            <option value='KE'>Kenya</option>
            <option value='KI'>Kiribati</option>
            <option value='KW'>Kuwait</option>
            <option value='KG'>Kyrgyzstan</option>
            <option value='LA'>Laos</option>
            <option value='LV'>Latvia</option>
            <option value='LB'>Lebanon</option>
            <option value='LS'>Lesotho</option>
            <option value='LR'>Liberia</option>
            <option value='LY'>Libya</option>
            <option value='LI'>Liechtenstein</option>
            <option value='LT'>Lithuania</option>
            <option value='LU'>Luxembourg</option>
            <option value='MO'>Macao</option>
            <option value='MK'>Macedonia</option>
            <option value='MG'>Madagascar</option>
            <option value='MW'>Malawi</option>
            <option value='MY'>Malaysia</option>
            <option value='MV'>Maldives</option>
            <option value='ML'>Mali</option>
            <option value='MT'>Malta</option>
            <option value='MH'>Marshall Islands</option>
            <option value='MR'>Mauritania</option>
            <option value='MU'>Mauritius</option>
            <option value='YT'>Mayotte</option>
            <option value='MX'>Mexico</option>
            <option value='FM'>Micronesia</option>
            <option value='MD'>Moldova</option>
            <option value='MC'>Monaco</option>
            <option value='MN'>Mongolia</option>
            <option value='ME'>Montenegro</option>
            <option value='MS'>Montserrat</option>
            <option value='MA'>Morocco</option>
            <option value='MZ'>Mozambique</option>
            <option value='MM'>Myanmar</option>
            <option value='NA'>Namibia</option>
            <option value='NR'>Nauru</option>
            <option value='NP'>Nepal</option>
            <option value='NL'>Netherlands</option>
            <option value='AN'>Netherlands Antilles</option>
            <option value='NC'>New Caledonia</option>
            <option value='NZ'>New Zealand</option>
            <option value='NI'>Nicaragua</option>
            <option value='NE'>Niger</option>
            <option value='NG'>Nigeria</option>
            <option value='NU'>Niue</option>
            <option value='KP'>North Korea</option>
            <option value='MP'>Northern Mariana Islands</option>
            <option value='NO'>Norway</option>
            <option value='OM'>Oman</option>
            <option value='PK'>Pakistan</option>
            <option value='PW'>Palau</option>
            <option value='PA'>Panama</option>
            <option value='PG'>Papua New Guinea</option>
            <option value='PY'>Paraguay</option>
            <option value='PE'>Peru</option>
            <option value='PH'>Philippines</option>
            <option value='PN'>Pitcairn</option>
            <option value='PL'>Poland</option>
            <option value='PT'>Portugal</option>
            <option value='PR'>Puerto Rico</option>
            <option value='QA'>Qatar</option>
            <option value='CG'>Republic of the Congo</option>
            <option value='RO'>Romania</option>
            <option value='RU'>Russia</option>
            <option value='RW'>Rwanda</option>
            <option value='BL'>Saint Barthelemy</option>
            <option value='SH'>Saint Helena</option>
            <option value='KN'>Saint Kitts and Nevis</option>
            <option value='LC'>Saint Lucia</option>
            <option value='MF'>Saint Martin</option>
            <option value='PM'>Saint Pierre and Miquelon</option>
            <option value='VC'>Saint Vincent and the Grenadines</option>
            <option value='WS'>Samoa</option>
            <option value='SM'>San Marino</option>
            <option value='ST'>Sao Tome and Principe</option>
            <option value='SA'>Saudi Arabia</option>
            <option value='SN'>Senegal</option>
            <option value='RS'>Serbia</option>
            <option value='SC'>Seychelles</option>
            <option value='SL'>Sierra Leone</option>
            <option value='SG'>Singapore</option>
            <option value='SK'>Slovakia</option>
            <option value='SI'>Slovenia</option>
            <option value='SB'>Solomon Islands</option>
            <option value='SO'>Somalia</option>
            <option value='ZA'>South Africa</option>
            <option value='GS'>South Georgia and the South Sandwich Islands</option>
            <option value='KR'>South Korea</option>
            <option value='ES'>Spain</option>
            <option value='LK'>Sri Lanka</option>
            <option value='SD'>Sudan</option>
            <option value='SR'>Suriname</option>
            <option value='SJ'>Svalbard and Jan Mayen</option>
            <option value='SZ'>Swaziland</option>
            <option value='SE'>Sweden</option>
            <option value='CH'>Switzerland</option>
            <option value='SY'>Syria</option>
            <option value='TW'>Taiwan</option>
            <option value='TJ'>Tajikistan</option>
            <option value='TZ'>Tanzania</option><option value='TH'>Thailand</option>
            <option value='TG'>Togo</option>
            <option value='TK'>Tokelau</option>
            <option value='TO'>Tonga</option>
            <option value='TT'>Trinidad and Tobago</option>
            <option value='TN'>Tunisia</option>
            <option value='TR'>Turkey</option>
            <option value='TM'>Turkmenistan</option>
            <option value='TC'>Turks and Caicos Islands</option>
            <option value='TV'>Tuvalu</option>
            <option value='VI'>U.S. Virgin Islands</option>
            <option value='UG'>Uganda</option>
            <option value='UA'>Ukraine</option>
            <option value='AE'>United Arab Emirates</option>
            <option value='GB' selected>United Kingdom</option>
            <option value='US'>United States</option>
            <option value='UY'>Uruguay</option>
            <option value='UZ'>Uzbekistan</option>
            <option value='VU'>Vanuatu</option>
            <option value='VA'>Vatican</option>
            <option value='VE'>Venezuela</option>
            <option value='VN'>Vietnam</option>
            <option value='WF'>Wallis and Futuna</option>
            <option value='EH'>Western Sahara</option>
            <option value='YE'>Yemen</option>
            <option value='ZM'>Zambia</option>
            <option value='ZW'>Zimbabwe</option>
          </select>
        </label>

        <div class="error-container" ng-show="usrprflForm.countryCode.$error.required && usrprflForm.countryCode.$dirty && usrprflForm.countryCode.$touched">
          <div class="error">
            <i class="ion-information-circled"></i>
              Country is required!
          </div>
        </div>

        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : usrprflForm.userType.$invalid, 'no-errors' : usrprflForm.userType.$valid}">
            <span class="input-label">User type</span>
            <input type="text" ng-model="account.userType" name="userType" placeholder="User Type" disabled="disabled">
        </label>

        <div class="spacer" style="height: 10px;"></div>
    </form>


    <form  class="list" name="editForm" novalidate="">
      <div class="expandcollapse-item">

       <div ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
         <ion-item class="button icon button-black ion-edit"> Edit Password </ion-item>
       </div>

        <div class="slideDown" ng-hide="active">
          <div class="expand-collapse-content">

              <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : editForm.newpassword.$invalid, 'no-errors' : editForm.newpassword.$valid}">
                  <span class="input-label">New password</span>
                  <input type="password" ng-model="pwd.newpassword" name="newpassword" placeholder="New password" required >
              </label>
              <div class="error-container" ng-show="editForm.newpassword.$error.required && editForm.newpassword.$dirty && editForm.newpassword.$touched">
                <div class="error">
                  <i class="ion-information-circled"></i>
                    New password is required!
                </div>
              </div>
              <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : editForm.confirmnewpassword.$invalid, 'no-errors' : editForm.confirmnewpassword.$valid}">
                  <span class="input-label">Confirm new password</span>
                  <input type="password" ng-model="pwd.confirmnewpassword" name="confirmnewpassword" placeholder="Confirm new password" required compare-To="pwd.newpassword">
              </label>
              <div class="error-container" ng-show="editForm.confirmnewpassword.$error.required && editForm.confirmnewpassword.$dirty && editForm.confirmnewpassword.$touched">
                <div class="error">
                  <i class="ion-information-circled"></i>
                  Confirm new password is required!
                </div>
              </div>
              <div class="error-container" ng-show="editForm.confirmnewpassword.$error.compareTo && editForm.confirmnewpassword.$dirty && editForm.confirmnewpassword.$touched">
                <div class="error">
                  <i class="ion-information-circled"></i>
                  Confirm new password and new password is not the same!
                </div>
              </div>

              <div class="row">
                <div class="col text-center">
                 <!-- REMOVE this button because expandcollapse-item doesnt work within ion-content -->
                 <!-- <button class="button button-positive" ng-click="editCancel()">Cancel</button> -->
    	         <button class="button button-positive" ng-disabled="editForm.$invalid && editForm.$invalid" ng-click="editSave(pwd)">Save</button>
                </div>
              </div>

          </div>
        </div>

      </div>
    </form>

    <div class="spacer" style="height: 40px;"></div>
    <button class="button button-positive button-block " ng-disabled="usrprflForm.firstname.$invalid && usrprflForm.lastname.$invalid && usrprflForm.email.$invalid && usrprflForm.account.username.$invalid && usrprflForm.countryCode.$invalid && usrprflForm.account.userType.$invalid" ng-click="usrprfl(account)">Update Profile</button>
    <div ng-init="load()"></div>
  </ion-content>
</ion-view>
