<div class="bar bar-header bar-submenu">
  <h1 class="title subtitle">
    Bank Details and Disclosure and Barring Service(DBS) Number
  </h1>
</div>
<ion-view view-title="Ahitis Edit Worker Bank Details and DBS">
  <ion-content>
      <div class="spacer" style="height: 112px;"></div>
      <form class="list" name="depositCardForm" novalidate="" ng-submit="updateBankDetail(account)">
        <ion-list>
          <div class="list list-inset textField">
            <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : depositCardForm.DBSref.$invalid, 'no-errors' : depositCardForm.DBSref.$valid}">
              <span class="input-label">LATEST DISCLOSURE AND BARRING SERVICE(DBS) NUMBER.</span>
              <input type="text" ng-model="account.DBSref" name="DBSref" placeholder="12-Digit DISCLOSURE NUMBER" required />
            </label>
          </div>
          <div class="error-container" ng-show="depositCardForm.DBSref.$error.required && depositCardForm.DBSref.$dirty && depositCardForm.DBSref.$touched">
            <div class="error">
              <i class="ion-information-circled"></i>
                DISCLOSURE AND BARRING SERVICE(DBS) NUMBER is required!
                <a ng-click="openWindow()" class="button button-positive button-clear button-block "><u>MORE INFORMATION AT WWW.GOV.UK</u></a>
            </div>
          </div>              
        </ion-list>
        
        <ion-list>
          <div class="list list-inset textField">
            <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : depositCardForm.cardName.$invalid, 'no-errors' : depositCardForm.cardName.$valid}">
              <span class="input-label">FULL NAME OF THE ACCOUNT HOLDER: USE THE FULL FIRST AND LAST NAME OF THE ACCOUNT HOLDER PLEASE DO NOT USE ABBERVIATIONS.</span>
              <input type="text" ng-model="account.cardName" name="cardName" placeholder="FULL NAME OF THE ACCOUNT HOLDER" required />
            </label>
          </div>
          <div class="error-container" ng-show="depositCardForm.cardName.$error.required && depositCardForm.cardName.$dirty && depositCardForm.cardName.$touched">
            <div class="error">
              <i class="ion-information-circled"></i>
                FULL NAME OF THE ACCOUNT HOLDER is required!
            </div>
          </div>
      
          <div class="list list-inset textField">
            <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : depositCardForm.cardAddress.$invalid, 'no-errors' : depositCardForm.cardAddress.$valid}">
              <span class="input-label">ADDRESS: HOUSE NUMBER AND ROAD</span>
              <input type="text" ng-model="account.cardAddress" name="cardAddress" placeholder="ADDRESS" required />
            </label>
          </div>
          <div class="error-container" ng-show="depositCardForm.cardAddress.$error.required && depositCardForm.cardAddress.$dirty && depositCardForm.cardAddress.$touched">
            <div class="error">
              <i class="ion-information-circled"></i>
                ADDRESS is required!
            </div>
          </div>
      
          <div class="list list-inset textField">
            <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : depositCardForm.cardCity.$invalid, 'no-errors' : depositCardForm.cardCity.$valid}">
              <span class="input-label">CITY</span>
              <input type="text" ng-model="account.cardCity" name="cardCity" placeholder="CITY" required />
            </label>
          </div>
          <div class="error-container" ng-show="depositCardForm.cardCity.$error.required && depositCardForm.cardCity.$dirty && depositCardForm.cardCity.$touched">
            <div class="error">
              <i class="ion-information-circled"></i>
                CITY is required!
            </div>
          </div>
      
          <div class="list list-inset textField">
            <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : depositCardForm.cardPostCode.$invalid, 'no-errors' : depositCardForm.cardPostCode.$valid}">
              <span class="input-label">POSTCODE</span>
              <input type="text" ng-model="account.cardPostCode" name="cardPostCode" placeholder="POSTCODE" required />
            </label>
          </div>
          <div class="error-container" ng-show="depositCardForm.cardPostCode.$error.required && depositCardForm.cardPostCode.$dirty && depositCardForm.cardPostCode.$touched">
            <div class="error">
              <i class="ion-information-circled"></i>
                POSTCODE is required!
            </div>
          </div>
      
          <div class="list list-inset textField">
            <label class="item">DAY OF BIRTH</label>
            <label class="item item-input item-select" ng-class="{ 'has-errors' : depositCardForm.cardBirthDay.$invalid, 'no-errors' : depositCardForm.cardBirthDay.$valid}">
              <span class="input-label">DAY</span>
              <select ng-model="account.cardBirthDay" name="cardBirthDay" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
            </label>
            <label class="item item-input item-select" ng-class="{ 'has-errors' : depositCardForm.cardBirthMonth.$invalid, 'no-errors' : depositCardForm.cardBirthMonth.$valid}">
              <span class="input-label">MONTH</span>
              <select ng-model="account.cardBirthMonth" name="cardBirthMonth" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </label>
            <label class="item item-input item-select" ng-class="{ 'has-errors' : depositCardForm.cardBirthYear.$invalid, 'no-errors' : depositCardForm.cardBirthYear.$valid}">
              <span class="input-label">YEAR</span>
              <select ng-model="account.cardBirthYear" name="cardBirthYear" required>
                <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
              </select>
            </label>
          </div>
          <div class="error-container" ng-show="depositCardForm.cardBirthDay.$error.required && depositCardForm.cardBirthDay.$dirty && depositCardForm.cardBirthDay.$touched">
            <div class="error">
              <i class="ion-information-circled"></i>
                DAY is required!
            </div>
          </div>
          <div class="error-container" ng-show="depositCardForm.cardBirthMonth.$error.required && depositCardForm.cardBirthMonth.$dirty && depositCardForm.cardBirthMonth.$touched">
            <div class="error">
              <i class="ion-information-circled"></i>
                MONTH is required!
            </div>
          </div>
          <div class="error-container" ng-show="depositCardForm.cardBirthYear.$error.required && depositCardForm.cardBirthYear.$dirty && depositCardForm.cardBirthYear.$touched">
            <div class="error">
              <i class="ion-information-circled"></i>
                YEAR is required!
            </div>
          </div>
      
          <div class="list list-inset textField">
            <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : depositCardForm.cardBankName.$invalid, 'no-errors' : depositCardForm.cardBankName.$valid}">
              <span class="input-label">BANK NAME</span>
              <input type="text" ng-model="account.cardBankName" name="cardBankName" placeholder="BANK NAME" required />
            </label>
          </div>
          <div class="error-container" ng-show="depositCardForm.cardBankName.$error.required && depositCardForm.cardBankName.$dirty && depositCardForm.cardBankName.$touched">
            <div class="error">
              <i class="ion-information-circled"></i>
                BANK NAME is required!
            </div>
          </div>
      
          <div class="list list-inset textField">
            <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : depositCardForm.cardAccountNumber.$invalid, 'no-errors' : depositCardForm.cardAccountNumber.$valid}">
              <span class="input-label">ACCOUNT NUMBER</span>
              <input type="text" ng-model="account.cardAccountNumber" name="cardAccountNumber" placeholder="ACCOUNT NUMBER" required />
            </label>
          </div>
          <div class="error-container" ng-show="depositCardForm.cardAccountNumber.$error.required && depositCardForm.cardAccountNumber.$dirty && depositCardForm.cardAccountNumber.$touched">
            <div class="error">
              <i class="ion-information-circled"></i>
                ACCOUNT NUMBER is required!
            </div>
          </div>
      
          <div class="list list-inset textField">
            <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : depositCardForm.cardSortCode.$invalid, 'no-errors' : depositCardForm.cardSortCode.$valid}">
              <span class="input-label">SORT CODE</span>
              <input type="text" ng-model="account.cardSortCode" name="cardSortCode" placeholder="SORT CODE" required />
            </label>
          </div>
          <div class="error-container" ng-show="depositCardForm.cardSortCode.$error.required && depositCardForm.cardSortCode.$dirty && depositCardForm.cardSortCode.$touched">
            <div class="error">
              <i class="ion-information-circled"></i>
                SORT CODE is required!
            </div>
          </div>
      
          <div class="list list-inset textField">
            <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : depositCardForm.cardIBAN.$invalid, 'no-errors' : depositCardForm.cardIBAN.$valid}">
              <span class="input-label">IBAN NUMBER</span>
              <input type="text" ng-model="account.cardIBAN" name="cardIBAN" placeholder="IBAN NUMBER" />
            </label>
          </div>
      
          <div class="list list-inset textField">
            <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : depositCardForm.cardSwiftCode.$invalid, 'no-errors' : depositCardForm.cardSwiftCode.$valid}">
              <span class="input-label">BIC OR SWIFT CODE</span>
              <input type="text" ng-model="account.cardSwiftCode" name="cardSwiftCode" placeholder="BIC OR SWIFT CODE" required />
            </label>
          </div>
          <div class="error-container" ng-show="depositCardForm.cardSwiftCode.$error.required && depositCardForm.cardSwiftCode.$dirty && depositCardForm.cardSwiftCode.$touched">
            <div class="error">
              <i class="ion-information-circled"></i>
                BIC OR SWIFT CODE is required!
            </div>
          </div>
        </ion-list>
        <button class="button button-positive button-block " ng-disabled="depositCardForm.$invalid">Save Bank Details and DBS Number</button>
      </form>  
  
    <div class="spacer" style="height: 40px;"></div>
    <div ng-init="load()"></div>
  </ion-content>
</ion-view>
