<ion-view view-title="Ahitis Worker Help">
  <form class="help" name="'wkrhelp'">
    <ion-list>
      <div class="bar bar-header bar-helpmenu">
        <h3 align="center" style="color:white">Help</h3>

        <div class="button-bar" style="margin:0px;">
          <a class="button" style="border-radius:0px; text-align:left; background-color:#3393c3; color:white"
              ng-click="jobtypes()"><img src="img/Help64.png" align=left width="45" height="45" alt="" />&nbsp;&nbsp;Job Types</a>
          <a class="button" style="border-radius:0px; text-align:left; background-color:#3393c3; color:white"
              ng-click="creatingajob()"><img src="img/Help64.png" align=left width="45" height="45" alt="" />&nbsp;&nbsp;Creating a Job</a>
        </div>

        <div class="button-bar" style="margin:0px;">
          <a class="button" style="border-radius:0px; text-align:left; background-color:#3393c3; color:white"
              ng-click="qanda()"><img src="img/Help64.png" align=left width="45" height="45" alt="" />&nbsp;&nbsp;Error reporting</a>
          <a class="button" style="border-radius:0px; text-align:left; background-color:#3393c3; color:white"
              ng-click="disputes()"><img src="img/Help64.png" align=left width="45" height="45" alt="" />&nbsp;&nbsp;Disputes</a>
        </div>

      </div>
    </div>
  </ion-list>
  <div>
    <ion-nav-view name="content"></ion-nav-view>
  </div>
</form>
</ion-view>
<div ng-init="load()"></div>
