<ion-view>
  <div class="spacer" style="{{spacer}}"></div>
  <div class="bar bar-submenu">
    <h1 class="title subtitle">
      {{titleText}}
    </h1>
  </div>
    <ion-content>
      <div class="spacer" style="{{innerSpacer}}"></div>
      <ion-item ng-repeat="job in jobs" class="item-thumbnail-left" ng-click="selectedJob(job.jobID)">
        <img src="img/{{job.skillIcon}}64.png"/>
        <p>A <b>{{job.skill}}</b> job is <b>{{job.status}}</b></p>
        <p>on <b>{{job.createdDate}}</b></p>
        <p>with Ahitis worker <b>{{job.workerID}}</b></p>
      </ion-item>
    </ion-content>

</ion-view>
<div ng-init="load()"></div>
