<ion-view>
    <div class="spacer" style="height: 130px;"></div>
    <div style="background-color:#3393c3;color:#fff;">
    <table class="table-hide" style="padding:2px;width:100%;">
      <tr>
        <td>
          <img ng-src="{{job.userIcon}}" class="img-circle" style="height:48px;width:48px;"/>
        </td>
        <td style="width:40%">
          <div>Requesting user: {{job.userID}}</div>
          <div>Contact detail: {{job.contactNumber}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div><img ng-src="img/{{job.skillIcon}}64.png" style="height:32px;width:32px;"/>{{job.skill}}</div>
        </td>
        <td>
          <div>Status: {{job.status}}</div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div>Payment status: {{job.paymentStatus}}</div>
          <div>Job date: {{job.createdDate}}</div>
        </td>
        <td>
        </td>
      </tr>
    </table>
  </div>
  <div class="button-bar" ng-show="job.statusID === 1">
      <a class="button button-balanced" ng-click="jobAccept()">{{action.acceptText}}</a>
      <a class="button button-assertive" ng-click="jobReject()">Reject</a>
  </div>
  <div class="button-bar" ng-show="job.statusID === 2">
      <a class="button button-assertive" ng-click="jobDispute()">Dispute</a>
  </div>
  <div id="map" style="width:100%;height:50%;"></div>
</ion-view>
<div ng-init="load()"></div>
