<ion-view>
  <div class="spacer" style="height: 140px;"></div>
  <div class="homePic">
    <div>Welcome back {{user.firstname}} {{user.lastname}}</div>
    <div class="spacer" style="height: 10px;"></div>
    <div>Remember to Go Online in order to get a job!</div>
    <img style="{{homePic}}" src="img/HomeWoman.png"/>
  </div>
  <div ng-init="load()"></div>
</ion-view>
