<!--
    <ion-side-menus>
      <ion-side-menu-content>
        <ion-header-bar class="bar bar-header bar-calm">
          <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()"></button>
        	<button class="button icon button-clear ion-arrow-left-c"  ng-click="navBack()">Back</button>
          <ui-view name="rightButton" class="right"></ui-view>
        </ion-header-bar>
-->
<!--
    <ion-nav-bar class="bar-menu">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
        <button class="button icon button-clear ion-android-more-vertical" ng-click="openPopover($event)"></button>
    </ion-nav-bar>
  -->
  <ion-view>
    <ion-header-bar class="bar bar-header bar-menu">
      <table class="table-menu">
        <tr>
          <td>
            <img class="button button-clear" src="img/Home64.png" ng-click="goHome()"/>
          </td>
          <td>
            <img class="button button-clear" src="img/Jobs64.png" ng-click="goJob()"/ >
          </td>
          <td>
            <img class="button button-clear" src="img/History64.png" ng-click="goHistory()"/ >
          </td>
          <td>
            <img class="button button-clear" src="img/Help64.png" ng-click="goHelp()"/ >
          </td>
          <td>
            <img class="button button-clear" src="img/Profile64.png" ng-click="goProfile()"/ >
          </td>
        </tr>
        <tr>
          <td>
            Home
          </td>
          <td>
            Job
          </td>
          <td>
            History
          </td>
          <td>
            Help
          </td>
          <td>
            Profile
          </td>
        </tr>
        <tr>
          <td colspan="5" style="text-align:left;">
            <div class="row" style="padding:0px;margin:0px;">
              <div class="col col-25">
                <button class="button-icon icon-left" ng-click="navBack()"><i class="ion-arrow-left-c"></i>Back</button>
              </div>
              <div class="col col-33 col-offset-50">
                <a class="button icon-right button-{{worker.toggleButtonColor}}" style="border-radius: 10px;" ng-click="toggleOnlineStatus()">{{worker.toggleOnlineText}}</a>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </ion-header-bar>
    <ion-nav-view name="content"></ion-nav-view>
    <div ng-init="load()">{{MSG}}</div>
  </ion-view>

<!--
      </ion-side-menu-content>
      <ion-side-menu side="left">
        <ion-list>
          <ion-item ng-click="goProfile()"><img src="img/Profile.png" />Profile</ion-item>
        </ion-list>
        <ion-list>
          <ion-item ng-click="goJob()"><img src="img/Jobs.png" />Jobs</ion-item>
        </ion-list>
        <ion-list>
          <ion-item ng-click="goHistory()"><img src="img/History.png" />History</ion-item>
        </ion-list>
        <ion-list>
          <ion-item ng-click="goHelp()"><img src="img/Help.png" />Help</ion-item>
        </ion-list>
      </ion-side-menu>
    </ion-side-menus>
-->
<!--
    <script id="templates/w_popover.html" type="text/ng-template">
      <ion-popover-view>
        <ion-header-bar>
          <h1 class="title">Worker Options</h1>
        </ion-header-bar>
        <ion-content>
          <ion-list>
            <ion-item ng-click="toggleOnlineStatus()">{{worker.toggleOnlineText}}</ion-item>
          </ion-list>
        </ion-content>
      </ion-popover-view>
    </script>
    <script id="templates/w_profile_popover.html" type="text/ng-template">
    <ion-popover-view>
		  <ion-header-bar>
			   <h1 class="title">Profile Options</h1>
			</ion-header-bar>
			<ion-content>
			   <ion-list>
			      <ion-item ng-click="goEdit()">Edit Worker Profile</ion-item>
						<ion-item ng-click="logout()">Log Out</ion-item>
        </ion-list>
			</ion-content>
		</ion-popover-view>
    </script>
  -->
