/* Empty. Add your own CSS if you like */
.error-container {
  margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}

.toggle .track2 {
  border: solid 2px #ef473a;
  background-color: #ef473a;
}

.right{
  text-align: right;
}

.scroll{
  height: 100%;
}

body{
  font-family: 'Open Sans';
  font-weight: 300;
}

.bar.bar-menu {
  border-color: #3393c3;
  background-color: #3393c3;
  background-image: linear-gradient(0deg, #0a9dc7, #0a9dc7 50%, transparent 50%);
  color: #fff;
  padding-bottom: 126px;
  font-size: 13px;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 300;
}

.bar.bar-submenu {
  border-color: #3393c3;
  background-color: #3393c3;
  color: #fff;
  font-size: 13px;
  text-align: center;
  margin-top: 118px;
}

.bar.bar-helpmenu {
  border-color: #3393c3;
  background-color: #3393c3;
  color: #fff;
  font-size: 13px;
  text-align: center;
  margin-top: 130px;
  padding:0px;
  display: block;
}

.bar.bar-top{
  border-color: #3393c3;
  background-color: #3393c3;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.table-menu {
  color: #fff;
  background-color: #3393c3;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.table-hide {
  color: #232323;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.title.subtitle{
  color: #fff;
  font-size: 18px;
}

.logoContainer{
    text-align: center;
}

.logo{
  padding: 70px 0px 70px 0px;
  width: 70%;
  text-align: center;
}

a[x-apple-data-detectors].tel {
    color: #FDBE40 !important;
}

.normalText{
  color: #232323;
  text-align: center;
}

.textField{
  border: 3px solid;
  border-radius: 10px;
  border-color: #3393c3;
  font-style: italic;
  color: #232323
}

.button.blueButton{
  border: 3px solid;
  border-radius: 10px;
  border-color: #3393c3;
  background-color: #3393c3;
  color: #fff;
  padding: 0px 20px 0px 20px;
  margin: 0px 10px 0px 10px;
}

.input-label {
   white-space: normal !important;
   max-width: none !important;
   width: 100%;
}

.homePic {
  color: #3393c3;
  font-size: 18px;
  text-align: center;
}

.img-circle {
    border-radius: 50%;
}
